document.body {
  background-color: black;
  height: 100%;
  color: white;
  font-size: 0.5rem !important;
}

#root {
  background-color: black;
  height: 100%;
}

.supermargin {
  margin-top: 100px;
}

.superbottom {
  padding-bottom: 300px;
}

.minibottom {
  padding-bottom: 180px;
}

.pointer {
  cursor: pointer;
}
